

.merlionHome {
    font-family: 'Bodoni moda';
    font-size: 28px;
    color:#fff;
}
.custom-toolbar-color {
    background-color: #134074
  }
  .button-spacing {
    margin-right: 10px; /* Adjust the margin as needed to control the spacing */
  }
 

.hero {
    position: relative;
    width: 100%;
    min-height: 50vh;
    /* Adjust the height as needed */
    background-image: url('https://images.unsplash.com/photo-1615916884911-2efa7ce4eaa1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2672&q=80');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bodoni moda';
}

.hero h1 {
    font-size: 120px;
    font-family: 'Bodoni moda';
    text-shadow: 2px 2px #aaa;
}

.hero h1 img {
    max-height: 100px;
    height: 0.8em;
    width: auto;
}

.hero h2 {
    margin-top: 1em;
    font-size: 28px;
    font-family: 'Bodoni moda';
    text-shadow: 2px 2px #000;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #F4F1DE;
}
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #B7B7A4;
}
.column {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}


.side-image {
    flex: 1;
    width: 100%;
    min-height: 60vh;
    /* Adjust the height as needed */
    background-image: url('https://images.unsplash.com/flagged/photo-1564767609342-620cb19b2357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHJvcGVydHl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-position: center;
}

.side-image img {
    max-height: 40vh;
    width: auto;
}

.side-text {
    flex: 1;
    padding: 0 20px;
}

/* Adjust styles as needed (e.g., font size, colors, etc.) */
.side-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.side-text p {
    font-size: 16px;
}


.column img {
    font-size: 48px;
    margin-bottom: 20px;
    height: 200px;
    width: auto;
}

.column p {
    font-size: 18px;
}

.button-list button {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .side-image {
        flex: 100%;
        max-width: 100%;
    }

    .side-image img {
        flex: 100%;
        max-width: 100%;
        height: auto;
    }

    .side-text {
        flex: 100%;
        max-width: 100%;
    }

    .hero h1 {
        font-size: 56px;
    }

    .hero h2 {
        font-size: 24px;
    }
    .custom-icon {
        color: #FF5733;
        font-size: 100px; 
      }
}