
.long-search-bar {
    max-width: 1000px;
    width: 100%;
    background-color: #fff; /* Add styling as needed */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.orange-button {
    background-color: orange;
    color: white;
    padding: 10px 20px; /* Adjust padding for the button size */
    border-radius: 5px; /* Add rounded corners to the button */
    font-size: 16px; /* Adjust font size */
  }
  
  .card-content {
    display: flex;
    align-items: center; /* Vertically align items */
  }
  
  .text-content {
    margin-left: 10px; /* Add spacing between image and text */
  }
  .listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .listing-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
    max-height:750px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-items: center;
  }
  .card-content {
    display: flex;
    align-items: center; /* Vertically align items */
  }
  
  .text-content {
    margin-left: 10px; /* Add spacing between image and text */
  }